

    <div class="page-wrapper">

        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style=" background-image: url(assets/images/yy.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle" style="margin-top: -55px;">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Spring Lookbook 2019</h1><!-- End .intro-title -->

                            <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to" >
                                <span>SIGN IN</span>
                               
                            </a>

                            <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to" style="margin: 25px;">
                                <span>SIGN UP </span>
                                
                            </a>
                           
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->



            <!--about us -->
           
            <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
             
                <div class="container" >
                    <div class="row">
                        <div class="col-lg-5 mb-3 mb-lg-0" style="text-align: center">
                            <h2 class="title">WHO ARE WE ?</h2><!-- End .title -->
                            <p class="lead text-primary mb-3">Pellentesque odio nisi, euismod pharetra a ultricies <br>in diam. Sed arcu. Cras consequat</p><!-- End .lead text-primary -->
                            <p class="mb-2">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue. </p>

                            <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                                <span>VIEW OUR NEWS</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .col-lg-5 -->

                        <div class="col-lg-6 offset-lg-1">
                            <div class="about-images">
                                <img src="assets/images/about/a.jpg" alt="" class="about-img-front">
                                <img src="assets/images/about/f.jpg" alt="" class="about-img-back">
                            </div><!-- End .about-images -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light-2 pt-6 pb-6 -->






                <section class="ftco-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center mb-5">
                                <h2 class="heading-section">Table #05</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-wrap">
                                    <table class="table table-responsive-xl">
                                      <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Email</th>
                                          <th>Username</th>
                                          <th>Status</th>
                                          <th>&nbsp;</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr class="alert" role="alert">
                                            <td>
                                                <label class="checkbox-wrap checkbox-primary">
                                                      <input type="checkbox" checked>
                                                      <span class="checkmark"></span>
                                                    </label>
                                            </td>
                                          <td class="d-flex align-items-center">
                                              <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                              <div class="pl-3 email">
                                                  <span>markotto@email.com</span>
                                                  <span>Added: 01/03/2020</span>
                                              </div>
                                          </td>
                                          <td>Markotto89</td>
                                          <td class="status"><span class="active">Active</span></td>
                                          <td>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                          </button>
                                        </td>
                                        </tr>
                                        <tr class="alert" role="alert">
                                            <td>
                                                <label class="checkbox-wrap checkbox-primary">
                                                      <input type="checkbox">
                                                      <span class="checkmark"></span>
                                                    </label>
                                            </td>
                                          <td class="d-flex align-items-center">
                                              <div class="img" style="background-image: url(images/person_2.jpg);"></div>
                                              <div class="pl-3 email">
                                                  <span>jacobthornton@email.com</span>
                                                  <span>Added: 01/03/2020</span>
                                              </div>
                                          </td>
                                          <td>Jacobthornton</td>
                                          <td class="status"><span class="waiting">Waiting for Resassignment</span></td>
                                          <td>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                          </button>
                                        </td>
                                        </tr>
                                        <tr class="alert" role="alert">
                                            <td>
                                                <label class="checkbox-wrap checkbox-primary">
                                                      <input type="checkbox">
                                                      <span class="checkmark"></span>
                                                    </label>
                                            </td>
                                          <td class="d-flex align-items-center">
                                              <div class="img" style="background-image: url(images/person_3.jpg);"></div>
                                              <div class="pl-3 email">
                                                  <span>larrybird@email.com</span>
                                                  <span>Added: 01/03/2020</span>
                                              </div>
                                          </td>
                                          <td>Larry_bird</td>
                                          <td class="status"><span class="active">Active</span></td>
                                          <td>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                          </button>
                                        </td>
                                        </tr>
                                        <tr class="alert" role="alert">
                                            <td>
                                                <label class="checkbox-wrap checkbox-primary">
                                                      <input type="checkbox">
                                                      <span class="checkmark"></span>
                                                    </label>
                                            </td>
                                          <td class="d-flex align-items-center">
                                              <div class="img" style="background-image: url(images/person_4.jpg);"></div>
                                              <div class="pl-3 email">
                                                  <span>johndoe@email.com</span>
                                                  <span>Added: 01/03/2020</span>
                                              </div>
                                          </td>
                                          <td>Johndoe1990</td>
                                          <td class="status"><span class="active">Active</span></td>
                                          <td>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                          </button>
                                        </td>
                                        </tr>
                                        <tr class="alert" role="alert">
                                            <td class="border-bottom-0">
                                                <label class="checkbox-wrap checkbox-primary">
                                                      <input type="checkbox">
                                                      <span class="checkmark"></span>
                                                    </label>
                                            </td>
                                          <td class="d-flex align-items-center border-bottom-0">
                                              <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                              <div class="pl-3 email">
                                                  <span>garybird@email.com</span>
                                                  <span>Added: 01/03/2020</span>
                                              </div>
                                          </td>
                                          <td class="border-bottom-0">Garybird_2020</td>
                                          <td class="status border-bottom-0"><span class="waiting">Waiting for Resassignment</span></td>
                                          <td class="border-bottom-0">
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                          </button>
                                        </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>